body {
    background-color: #f5f5f5;
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00bcd4;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 50px;
}

.grid-container.resources {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
}

.grid-item {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #00bcd4;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#articles-section img {
    width: 150px;
    height: 150px;
}

ul#articles-section li {
    justify-content: center;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #333;
    text-decoration: none;

}

a:hover {
    color: grey;
}

p {
    margin: 0;
    line-height: 1.5;
}
.inflationChart-container {
    position: relative;
    margin: auto;
    height: 500px;
    width: 400px;
}

.upcoming-events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terror-alert {
    margin-top: 20px;
}

.status-container {
    display: flex;
    align-items: center;
}

.status-red {
    width: 40px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.status-amber {
    width: 70px;
    background-color: rgb(255, 187, 0);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.status-green {
    width: 40px;
    background-color: rgb(60, 255, 0);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.status-description {
    margin: 0;
    font-size: 1rem;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px;
}

.navigation a:hover {
    background-color: #333;
    color: #fff;
}